Source: ros-indigo-rtsprofile
Section: misc
Priority: extra
Maintainer: Kei OKada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), omniidl-python, python-omniorb, python-omniorb-omg, python-setuptools, ros-indigo-catkin
Homepage: http://ros.org/wiki/openrtm_tools
Standards-Version: 3.9.2

Package: ros-indigo-rtsprofile
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: Library to read, manipulate and write RT system profiles using the RTSProfile XML schema.
